{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "var/cache/infection.log",
        "badge": {
            "branch": "master"
        }
    }
}
